<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
  <h3 class="mb-4 text-xl font-semibold dark:text-white">New Employee</h3>
  <%= render "form", user: @user %>
</div>
