<div class="fixed left-0 right-0 z-50 items-center justify-center overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full hidden" id="remotemodal" aria-hidden="true">
  <div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
      <%= turbo_frame_tag "remote_modal", target: "_top" %>
    </div>
  </div>
</div>